:root {
  --dim-text-color: rgb(177, 177, 177);
  --bright-text-color: white;
}

body {
  background-color: black;
  color: var(--dim-text-color);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;

  font-size: 10pt; /* TODO Remove only temp */

  /* Increase readability by making background darker around text */
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1),
    0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
}

#side-panel {
  padding: 2rem;
  position: fixed;
  height: 100vh;
  width: 30vw;
  max-width: 20rem;

  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7847769028871391) 0%,
    rgba(0, 0, 0, 0) 90%
  );
  /* background: rgb(100, 100, 100); */
}

h1 {
  color: var(--bright-text-color);
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h2 {
  color: var(--bright-text-color);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.2rem;
}

/* h1,
h2 {
  color: #ffffff;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #49ff18,
    0 0 30px #49ff18, 0 0 40px #49ff18, 0 0 55px #49ff18, 0 0 75px #49ff18;
} */

p {
  margin-bottom: 0.5rem;
}
