:root {
  --dim-text-color: rgb(177, 177, 177);
  --bright-text-color: white;
}

body {
  background-color: black;
  color: var(--dim-text-color);
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.4;

  font-size: 10pt; /* TODO Remove only temp */
}

#side-panel {
  padding: 2rem;
  position: fixed;
  height: 100vh;
  width: 30vw;
  max-width: 20rem;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7847769028871391) 0%,
    rgba(0, 0, 0, 0) 90%
  );
}

h1 {
  color: var(--bright-text-color);
  font-size: 2.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h2 {
  color: var(--bright-text-color);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.2rem;
}

p {
  margin-bottom: 0.5rem;
}
