:root {
  --dim-text-color: rgb(177, 177, 177);
  --bright-text-color: white;
  --accent: rgb(0, 136, 255);
}

* {
  box-sizing: border-box;
}

body {
  background-color: black;
  color: var(--dim-text-color);
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  letter-spacing: 0.05rem;
  line-height: 1.4;

  font-size: 10pt;

  /* Increase readability by making background darker around text */
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1),
    0px 0px 10px rgba(0, 0, 0, 1), 0px 0px 10px rgba(0, 0, 0, 1);
}

#side-panel-container {
  user-select: none;
  padding: 2rem 0 2rem 2rem;
  position: fixed;
  height: 100vh;
  width: 25vw;
  overflow-y: auto;
  max-width: 20rem;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.7847769028871391) 0%,
    rgba(0, 0, 0, 0) 90%
  );

  /* Hack scrollbar to left, mabye not ideal but to the right was incredibly ugly */
  direction: rtl;
}

#side-panel {
  /* Hack scrollbar to left, mabye not ideal but to the right was incredibly ugly */
  direction: ltr;
}

input[type='range'] {
  width: 100%;
  margin-left: -0.07rem;
}

input[type='checkbox'] {
  margin: 0 0.5rem 0 0;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}

input[type='color'] {
  margin: 0 0.5rem 0 0;
  margin-bottom: 0.5rem;
  margin-top: 0.2rem;
}

h1 {
  color: var(--bright-text-color);
  font-size: 1.8rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

h2 {
  color: var(--bright-text-color);
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1.2rem;
}

summary > h2 {
  display: inline-block;
}

p {
  margin-bottom: 0.5rem;
}

a {
  color: var(--accent);
}

.preset-item {
  /* display: inline-block; */
  margin-right: 1rem;
  cursor: pointer;
}

.preset-item:before {
  content: '» ';
}

.preset-item:hover {
  color: var(--accent);
}

.loading-screen {
  background-color: black;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  padding-top: 70vh;
  transition-duration: 1s;
  opacity: 0.9;
  pointer-events: none;
}
